body {


  background-color: #f2f3f4;
  margin: 0%;
  background-position: center center;

}

.contenedor1 {
  display: flexbox;
  margin: 0%;

}

input {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 350px;
  height: 40px;
  outline: 0;
  padding-left: 20px;
  margin-left: 50px;
}

.contenedor2 {
  height: 600px;
  width: 70%;

  overflow: hidden;
  margin-left: 6%;
  padding-top: 200px;

  display: flexbox;
}

/*
.boton {
  background-color: #242434;
  outline: none;
  color: #ffffff;
  font-size: 14px;
  height: 40px;
  font-weight: normal;
  width: 100px;
  text-align: center;

  text-transform: uppercase;
  border-color: #242434;
  border-radius: 5px;
  justify-items: right;

  margin-left: 500px;

  margin-left: 80%;
  margin-top: 15px;;
  padding-top: 10px;

  margin-right: 20px;
  position: fixed;


}


*/
.boton {
  background-color: #242434;
  outline: none;
  color: #ffffff;
  font-size: 14px;
  height: 40px;
  font-weight: normal;
  width: 100px;
  text-align: center;

  text-transform: uppercase;
  border-color: #242434;
  border-radius: 5px;


  padding-top: 10px;
  margin-left: 73%;


}

.boton:hover {
  color: #ffffff;
  background-color: #6c5bb8;
  border-color: #6c5bb8;
}

#view-button{
  background-color: #ffffff;
  border: #ffffff;
}






#buscar {
  position: absolute;
  top: 170px;
  margin-left: 6%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;


  padding-top: 15px;

  background-color: #ffffff;

  width: 90%;
  height: 8%;

  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/*
    input{
      border:none;
      text-align: center;
      width: 200px;
      border-bottom:1px solid #757575;

    }

*/

.titulo {
  text-align: justify !important;
  padding-top: 20px;
  margin-left: 100px;
  color: rgb(97, 94, 94) !important;

}

#descripcion {
  text-align: justify !important;
  margin-left: 100px;
  color: rgb(97, 94, 94) !important;
}

hr {
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #a7a4a4 inset;
}




select {
  text-align: center;
  width: 350px;
  outline: none;
  border: none;


  border-bottom: 1px solid #ccc;

  padding-bottom: 5px;


  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  margin-left: 600px;

}

.boton-verde,
.boton-amarillo,
.boton-rojo,
.boton-azul {
  padding: 10px;
  margin: 10px 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;



}





table {
  background-color: #ffffff;
  position: absolute;
  top: 300px;
  width: 90%;
  font: 1em sans-serif;
  margin: auto;

  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.pages {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 75%;
  left: 40%;
}

#pageNumber {
  width: 60px;
}

#td-view{
  text-align: center;
}



/*    MODAL   */







input[type="checkbox"]:checked ~ .modal,
input[type="checkbox"]:checked ~ .modal-background {
	display: block;
}


.modal-background {
	width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 9998;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: none;
    width: 400px;
    height: 400px;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 9999;
}
.modal > p {
	padding: 15px;
    margin: 0;
}
.modal-header {
	background-color: #f9f9f9;

    box-sizing: border-box;
    height: 55px;
}
.modal-header h3 {
	margin: 0;
    box-sizing: border-box;
    padding-left: 15px;
    line-height: 50px;
    color: #4d4d4d;
    font-size: 16px;
    display: inline-block;
    padding-bottom: 20px;
}
.modal-header label {
	box-sizing: border-box;

    float: right;
    line-height: 50px;
    padding: 0 15px 0 15px;
    cursor: pointer;
}
.modal-header label:hover img {
	opacity: 0.6;
}

#modal{
  display: none;
}


.form {


  width: 500px;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  align-items: center;
  margin: auto;


}

.form-group > #asunto, .form-group > #mensaje{
  margin-left: auto;
  width: 100%;
}

.Formulario {
  position: absolute;
  left: 70px;
}