<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

<body>

    <div>
        <h2 class="titulo">Notificaciones</h2>
        <p id="descripcion">las notificaciones son una herramienta clave para mantener a una comunidad informada, comprometida y
            cohesionada. </p>
    </div>

    <hr>


    <div class="contenedor1">
        <div id="buscar">

            <input type="text" name="filtrar" placeholder="buscar" [(ngModel)]="filtroNotificaciones">

            <div class="select-container">
                <select id="tipoNotificacion" (change)="onChange($event)">
                    <option [ngValue]=2 [disabled]="true">-- tipo de notificación --</option>
                    <option value="2">Todos</option>
                    <option value="0">General</option>
                    <option value="1">Individual</option>
                </select>


            </div>

            <label for="modal" class="boton">Agregar</label>



        </div>

        <div class="contenedor2">

            <table class="table" width="100%">
                <thead>
                    <tr>

                        <th scope="col" width="300px" style=" font: 1em sans-serif;">Asunto</th>
                        <th scope="col">Detalles</th>
                        <th scope="col">Destinatario</th>
                        <th scope="col" style="text-align:center;width:200px;">
                            Acciones
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr tr mat-row matRowDef="columns: displayedcolumns;"
                        *ngFor="let notificacion of notificaciones1 | filtroNotificaciones: 'asunto': filtroNotificaciones">
                        <td style=" font: 1em sans-serif;">{{ notificacion.asunto }}</td>
                        <td>{{ notificacion.mensaje }}</td>
                        <td>{{ notificacion.id_destinatario }}</td>
                        <td id="td-view">

                            <button type="button" id="view-button">
                                <mat-icon style="font-size:medium;">visibility</mat-icon>
                            </button>

                        </td>
                    </tr>
                </tbody>
            </table>


        </div>

        <div class="pages">

            <p>Filas por página</p> <input type="number" id="pageNumber" class="page">

            <button class="boton-verde" (click)="paginador_atras()">&lt;</button>
            <p style="padding-top: 20px; "> {{cont}} - 5 </p>
            <button class="boton-verde" (click)="paginador_adelante()">&gt;</button>

        </div>



        <!-------                              MODAL                          -->


        <input type="checkbox" id="modal">

        <label for="modal" class="modal-background"></label>



            <div class="modal">
                <div class="modal-header">
                    <h3>Agregar notificación</h3>

                    <label for="modal">
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAdVBMVEUAAABNTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU0N3NIOAAAAJnRSTlMAAQIDBAUGBwgRFRYZGiEjQ3l7hYaqtLm8vsDFx87a4uvv8fP1+bbY9ZEAAAB8SURBVBhXXY5LFoJAAMOCIP4VBRXEv5j7H9HFDOizu2TRFljedgCQHeocWHVaAWStXnKyl2oVWI+kd1XLvFV1D7Ng3qrWKYMZ+MdEhk3gbhw59KvlH0eTnf2mgiRwvQ7NW6aqNmncukKhnvo/zzlQ2PR/HgsAJkncH6XwAcr0FUY5BVeFAAAAAElFTkSuQmCC"
                            width="16" height="16" alt="">
                    </label>



                </div>


                <div class="form">

                    <!-- Formulario para agregar un nuevo acuerdo -->
                    <form id="formCrear" class="Formulario" #form="ngForm" (ngSubmit)="agregarNotificacion(form.value)">
                        <!-- ... Otros campos del formulario ... -->

                        <div class="form-group">
                            <select id="tipo" name="tipo" required ngModel>
                                <option value="general" disabled>-- tipo de notificación --</option>
                                <option value="general">General</option>
                                <option value="individual">Individual</option>
                            </select>
                        </div>




                        <div class="form-group">
                            <select id="destinatario" name="destinatario" required ngModel>
                                <option [ngValue]="undefined" [disabled]="true">-- Selecciona un destinatario --
                                </option>
                                <option value={{usuario.id_persona}} *ngFor="let usuario of personas">
                                    {{usuario.id_persona}}- {{usuario.nombre}} {{usuario.apellido_pat}}
                                    {{usuario.apellido_mat}}
                                </option>
                            </select>
                        </div>


                        <div class="form-group">
                            <input type="text" id="asunto" name="asunto" placeholder="asunto" required ngModel>
                        </div>


                        <div class="form-group">
                            <textarea id="mensaje" name="mensaje" placeholder="mensaje" required ngModel></textarea>
                        </div>

                        <div class="botones-container">
                            <button class="boton-verde" type="submit">Agregar</button>
                        </div>
                    </form>
                </div>



            </div>










        <!---                               FINAL MODAL                                  -->

    </div>


</body>
