
<body>
    <div class="container">
        <h2 class="titulo">Notificaciones</h2>

        <!-- Combobox para seleccionar el tipo de notificación -->
        <div class="select-container">
            <label for="tipoNotificacion">Tipo de Notificación:</label>
            <select id="tipoNotificacion" (change)="filtrarPorTipo($event)">
                <option value="General">General</option>
                <option value="Individual">Individual</option>
            </select>
        </div>

        <ul class="acuerdos-lista">
            <li *ngFor="let notificacion of notificaciones">
                <div class="acuerdo-info">
                    <h3>ID Notificación: {{ notificacion.id_notificacion }} </h3>
                    <h3>Asunto: {{ notificacion.asunto }}</h3>
                    <h3>Mensaje:</h3>
                    <p>{{ notificacion.mensaje }}</p>
                    <p class="remitente">ID Persona Destinatario: {{ notificacion.id_destinatario }}</p>
                </div>
            </li>
        </ul>
    </div>
</body>