body {


  background-color: #f2f3f4;
  margin: 0%;
  background-position: center center;

}

/*
.imagen-cont{
  border-color: #000000;
  border-width: 3px 3px 3px 3px;
  border-style: solid;
  width: 300px;
  height: 300px;
  position: absolute;
  left: 300px;
  top: 100px;

}

*/
#deuda-titulo{
  margin-left: 60px;
  margin-top: 20px;
  color: rgb(97, 94, 94)
}
 
.sidenav{
  width: 400px;
  background-color: #e2e0e4;
  height: 87.5%;
  box-shadow: 0px 0px 10px 0px #a7a4a4 inset; /* Sombra */
  padding-left: 30px;
  display: flex;


}
.contenedor {

  width: 50%;

  height: 70%;
  padding: 20px;
  margin-top: 50px;
  position: absolute;
  top: 20px;
  left: 15%;




}

.top{
  


  box-shadow: 0px 0px 10px 0px #a7a4a4; /* Sombra */
  padding-bottom: 10px;
  
  z-index: -1;

}


input {
  border: none;
  border-bottom: 1px solid #7c7b7b;
  background-color: transparent;
  width: 350px;
  height: 40px;
  outline: 0;
  text-align: center;

}


.contenedor2 {
  height: 600px;
  width: 80%;

  overflow: hidden;
  /*margin-left: 15%;*/
  padding-top: 200px;

  display: flexbox;
}

 
.boton {
  background-color: #242434;
  outline: none;
  color: #ffffff;
  font-size: 14px;
  height: 40px;
  font-weight: normal;
  width: 100px;
  text-align: center;
   
  text-transform: uppercase;
  border-color: #242434;
  border-radius: 5px;

   
  padding-top: 10px;
  margin-left: 1%;
  margin-right: 3%;



}

#botones{
  margin-left: 140%;
  width: 300px;
  padding-right: 40px;
}

.boton-agregar {
  background-color: #242434;
  outline: none;
  color: #ffffff;
  font-size: 14px;
  height: 40px;
  font-weight: normal;
  width: 100px;
  text-align: center;
  margin-left: 40%;
  text-transform: uppercase;
  border-color: #242434;
  border-radius: 5px;




}

.boton:hover, .boton-agregar:hover {
  color: #ffffff;
  background-color: #6c5bb8;
  border-color: #6c5bb8;
}

#view-button{
  background-color: #ffffff;
  border: #ffffff;
  margin-left: 40%;
}


#sum-button{
 /* background-color: #ffffff;
  border: #ffffff;*/
  width: 100px;
  height: 50px;
  size:40px;
 
  
}








#buscar {
  position: absolute;
  top: 80px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;


  padding-top: 10px;
  padding-left: 50px;
  padding-bottom: 20px;
  background-color: #ffffff;

  width: 140%;
  height: 12%;

  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



/*
    input{
      border:none;
      text-align: center;
      width: 200px; 
      border-bottom:1px solid #757575;

    }
     
*/

.titulo {
  text-align: justify !important;
  padding-top: 20px;
  margin-left: 100px;
  color: rgb(97, 94, 94) !important;

}

#descripcion {
  text-align: justify !important;
  margin-left: 100px;
  color: rgb(97, 94, 94) !important;
}


textarea{
  width: 350px;
  resize: none;
}

hr {
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #a7a4a4 inset;
}




select {
  text-align: center;
  width: 350px;
  outline: none;
  border: none;
  background-color: transparent;

  border-bottom: 1px solid #979595;
  padding-top: 15px;



  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

}





 

table {
  background-color: #ffffff;
  position: absolute;
  top: 260px;
  width: 70%;
  font: 1em sans-serif;
  margin: auto;
  left: 16%;

  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.boton-verde,
.boton-amarillo,
.boton-rojo,
.boton-azul {
padding: 10px;
margin: 10px 5px;
border: none;
border-radius: 5px;
cursor: pointer;



}


.help-button {
background-color: #8d9093;
color: #fff;
border: none;
border-radius: 50%;
position: absolute;
left: 440px;
top: 30px;
width: 20px;
height: 20px;
font-size: 12px;
cursor: pointer;
}

.help-message {
position: absolute;
top: 100%;
left: 50%;
transform: translateX(-50%);
background-color: #f9f9f9;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
z-index: 1000;

}

.noencontrado{

width: 650px;
height: 500px;

 
}


.div-noen {

  display: flex;
  margin-top: 90px;
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
  
}

.pages {
display: flex;
 justify-content: center;
 position: absolute;
 top: 80%;
 
 left: 40%;
}

mat-paginator{
background-color: transparent;
}
 
#pageNumber {
  width: 60px;
}

#td-view{
  text-align: center;
}



/*    MODAL   */







input[type="checkbox"]:checked ~ .modal,
input[type="checkbox"]:checked ~ .modal-background {
    display: block;
}


.modal-background {
    width: 140%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 9998;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: none;	
    width: 500px;
    height: 550px;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 9999;
}
.modal > p {
    padding: 15px;
    margin: 0;
}
.modal-header {
    background-color: #f9f9f9;
    
    box-sizing: border-box;
    height: 55px;
}
.modal-header h3 {
    margin: 0;
    box-sizing: border-box;
    padding-left: 15px;
    line-height: 50px;
    color: #4d4d4d;
    font-size: 16px;
    display: inline-block;
    padding-bottom: 20px;
}
.modal-header label {
    box-sizing: border-box;
  
    float: right;
    line-height: 50px;
    padding: 0 15px 0 15px;
    cursor: pointer;
}
.modal-header label:hover img {
    opacity: 0.6;
}

#modal{
  display: none;
}


.form {


  width: 500px;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  align-items: center;
  margin: auto;

 
}

.form-group > #asunto, .form-group > #mensaje{
  margin-left: auto;
  width: 100%;
}

.Formulario {
  position: absolute;
  left: 70px;
}



/* MENU COLAPSIBLE */

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}