

<body *ngIf="tipo_formulario=='extraordinario'">
  <div class="contenedor" >

    <div class="form">
      <!-- Formulario para agregar un nuevo ingreso extraordinario -->
      <form id="formCrear" class="Formulario">

        <h2 class="titulo">Ingresos Extraordinarios</h2>


        <div>
          <label for="usuarioExtra">Usuario:</label>
        <select id="usuarioExtra" name="usuarioExtra" required ngModel (change)="onChangeUsuario($event)" >
          <option  *ngFor="let usuario of personas">
              {{usuario.id_persona}}- {{usuario.nombre}} {{usuario.apellido_pat}} {{usuario.apellido_mat}}
          </option>
      </select>
        </div>



        <label for="deudaExtra">Deuda:</label>
        <select id="deudaExtra" name="deudaExtra" required ngModel (change)="onChangeDeuda($event)" >
          <option *ngFor="let deuda of deudasDelUsuario">
              {{deuda.nombre_deuda}} 
          </option>
      </select>



        <label for="montoDeudaExtra">Monto de Deuda:</label>
        <input type="text" id="montoDeudaExtra" name="montoDeudaExtra" value="montoDeudaExtra" disabled [(ngModel)]="monto">



        <label for="comprobante">Comprobante:</label>
        <select id="comprobante" name="comprobante">
          <option value="efectivo">Pago en Efectivo</option>
          <option value="spei">Comprobante SPEI</option>
          <option value="ticket">Ticket Bancario</option>

        </select>



        <label for="fechaCorteExtra">Fecha de Corte:</label>
        <input type="text" id="fechaCorteExtra" name="fechaCorteExtra" value="fechaCorteExtra" disabled [(ngModel)]="fecha_corte">


        <div class="botones-container">
        <button class="boton-verde" (click)="pagarDeudaExtraordinaria()">Pagar</button>
      </div>
      </form>
    </div>
  </div>
</body>


