<body>
    <div class="container">
        <h2 class="titulo">Administración</h2>

        <!-- Sección de Administración -->
        <div class="info-personal">
            <!-- Tarjeta de Presentación 1 -->
            <div class="persona">
                <h3>Nombre del Puesto 1</h3>
                <p>Nombre del Titular 1</p>
                <p>Descripción de la función 1</p>
            </div>

            <!-- Tarjeta de Presentación 2 -->
            <div class="persona">
                <h3>Nombre del Puesto 2</h3>
                <p>Nombre del Titular 2</p>
                <p>Descripción de la función 2</p>
            </div>
        </div>
    </div>
</body>
