.input {
  visibility: hidden;

}

.label {
  position: absolute;
  width: 80px;
  height: 40px;
  background: lightgray;
  border-radius: 20px;
}

.circle {
  width: 34px;
  background: white;
  height: 34px;
  border-radius: 50%;
  top: 3px;
  position: absolute;
  left: 3px;
  animation: toggleOff .4s ease forwards;
  cursor: pointer;
}

.input:checked+.label {
  background-color: lightgray;

}


.input:checked+label .circle {
  animation: toggleOn .4s ease forwards;
  background-color: black;
  cursor: pointer;

}
  

@keyframes toggleOn {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(40px);
  }
}

@keyframes toggleOff {
  0% {
    transform: translate(40px);
  }

  100% {
    transform: translate(0);
  }
}




/* final boton */


.dark-theme {
  --text-color: #fff;
  --background-color: #696969;
  --background-color1: #4d4b4b;
  --mat-color: #212123;
}


::placeholder,
input[type="date"],
.top>.titulo {
  color: var(--text-color) !important;
}

.tema {
  background: var(--background-color);
}

.top {
  background: var(--background-color1);

}



/*------------------------------*/




body {
  background-color: #f2f3f4;
  margin: 0%;
  background-position: center center;

}



.titulo {
  text-align: justify !important;
  padding-top: 20px;
  margin-left: 100px;
  color: rgb(97, 94, 94) !important;

}

.sidenav {
  width: 400px;
  background-color: #e2e0e4;
  height: 100%;
  box-shadow: 0px 0px 10px 0px #a7a4a4 inset;
  /* Sombra */

  display: flex;

}


.arrow {
  transition: transform 0.3s ease-out;
  /* Transición suave para la rotación */
  position: absolute;
  left: 350px;
}

.arrow:hover {
  transform: rotate(180deg);
  /* Girar la flecha hacia abajo */

}


mat-icon {
  color: #101146;
}



.contenedor {
  flex: 1;
  width: 90%;
  padding-right: 250px;



  height: 95%;

  margin-top: 58px;
  position: absolute;
  top: 20px;
  left: 400px;

  /*
  background-color: #101146;
  */


  background-color: #f2f3f4;



}



.top {



  box-shadow: 0px 0px 10px 0px #a7a4a4;
  /* Sombra */
  padding-bottom: 10px;



}


input,
select {
  width: 300px;
  border: 1px solid transparent;
  background-color: transparent;
  border-bottom: 1px solid #989898;
  margin-top: 10px;
}

p>#telefono,
p>#fechaNacimiento {
  width: 300px;
  border: 1px solid transparent;
  background-color: transparent;
  border-bottom: 1px solid #989898;
}

.boton-verde,
.boton-amarillo,
.boton-rojo,
.boton-azul {
  padding: 10px;
  margin: 10px 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;

}


.form {
  display: block;
  flex-direction: column;

}

.Formulario {
  display: block;
  flex-direction: column;


}



.boton-verde,
.boton-amarillo,
.boton-rojo,
.boton-azul {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  background: #4c9c4e;
  color: #FFFFFF;
}

.boton-verde:hover {
  background: #317435;
}


.botones-container {
  display: flex;

}

table,
th,
td,
thead,
tr {
  text-align: center;
  width: 300px;

}


.Formulario {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  margin-right: 13%;
  padding-left: 20px;

  border-radius: 0% 2% 2% 0%;

}

select,
#fechaNacimiento {
  width: 180px;
  height: 26px;
}


#telefono {
  width: 210px;
  height: 26px;
}

#lote1 {
  display: inline-block;


}

a {
  flex-direction: column;
}

.imagen {
  position: absolute;
  margin-left: 700px;
  margin-top: -350px;
}



.btn_imagen {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  background: #4c9c4e;
  color: #FFFFFF;
  width: 200px;

  position: absolute;
  margin-left: 730px;
  bottom: 400px;
}




.perfil {
  width: 150px;
  height: 150px;
  border: 1px solid #848486;

}



.menu {
  width: 400px;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  overflow: hidden;
  margin-top: 7%;


}


.menu-item {
  /* background-color: #f5f5f5; */
  border-bottom: 1px solid #ccc;

}


.menu-title {

  cursor: pointer;
  display: flex;
  align-items: center;



}

.menu-title:hover {
  background-color: #e0e0e0;

}

.submenu {
  background-color: #fff;

  display: block;
  /* Ocultar inicialmente los submenús */

  transition: transform 0.3s ease-out;
  /* Transición suave para la rotación */


}

.submenu ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  transition: transform 0.3s ease-out;
  /* Transición suave para la rotación */
  z-index: -1;
}

.submenu ul li {
  padding: 8px 0;
  cursor: pointer;
  background-color: #edebeb;
  padding-left: 65px !important;
  overflow: hidden;
  z-index: -1;
}

.submenu ul li:hover {
  padding: 8px 0;
  cursor: pointer;
  background-color: #e0e0e0;

}

/* Mostrar el submenú cuando el menú está activo */
.submenu.active {
  display: block;

}