<div  class="example-container" >
	<mat-toolbar color="black" class="example-toolbar">
		<!-- <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button> -->
		<h2><img src="./assets/logo2.png" id="logo"><img></h2>
	</mat-toolbar>


	<body>

		
    <div class="form-carta">
      <h1 class="titulo">Recuperación de contraseña</h1>
      <form [formGroup]="cambioContrasenaForm" (ngSubmit)="cambiarContrasenia()">
        <!-- Los campos del formulario -->
        <div>
          <label for="email">Correo electrónico:</label>
          <input type="email" id="email" name="email" formControlName="correo" required required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}(?:\.com)">
        </div>
        <div>
          <label for="token">Código o token:</label>
          <input type="text" id="token" name="token" formControlName="codigo" required>
        </div>
        <div>
          <label for="password">Contraseña:</label>
          <input type="password" id="password" name="password" formControlName="contrasena" required>
        </div>
        <div>
          <label for="confirmPassword">Confirmar contraseña:</label>
          <input type="password" id="confirmPassword" name="confirmPassword" formControlName="confirmarContrasena" required>
        </div>
        <!-- Botón para cambiar la contraseña -->
        <div>
          <button type="button" (click)="enviarCorreo()">Enviar Codigo</button>
          <button type="submit">Cambiar contraseña</button>
        </div>
      </form>
    </div>
    
		
          
          




	</body>

	<footer class="footer-distributed">
		<div class="footer-right">
		</div>
		<div class="footer-left">
			<p class="footer-links">
				<a class="link-1" href="#">Home</a>
				<a href="#">Blog</a>
				<a href="#">Sobre nosotros</a>
				<a href="#">Preguntas frecuentes</a>
				<a href="#">Contactanos</a>
			</p>
			<p>ARBOLEDA &copy; 2022</p>
		</div>

	</footer>



</div>