<body>  
    <div class="contenedor">
        <div class="form">
            <h2 class="titulo">Acuerdos</h2>           

            <form #acuerdoForm="ngForm" class="Formulario" (ngSubmit)="agregarAcuerdo(acuerdoForm.value)" [formGroup]="UserGroup">


                <input type="text" id="asunto" name="asunto" formControlName="asunto"  placeholder="Asunto del acuerdo" ngModel required>


                <textarea id="detalles" name="detalles" rows="4" formControlName="detalles"  placeholder="Detalles del acuerdo" ngModel required></textarea>

                <div class="botones-container">
                    <button class="boton-verde" type="submit">Agregar</button>
                </div>
            </form>
        </div>
    </div>

</body>