
<head>
  <meta http-equiv="Expires" content="0">
  <meta http-equiv="Last-Modified" content="0">
  <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
  <meta http-equiv="Pragma" content="no-cache">
</head>

<div *ngIf="shouldRun" class="example-container" [class.example-is-mobile]="mobileQuery.matches" >
  <mat-toolbar color="black" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h2><img src="../../assets/logo3.png" id="logo"><img></h2>
    <a><h2 class="example-app-name">{{usuario}}</h2><h6>tesorero</h6></a>
    <div style="background-color: transparent transparent; width: 40px; height: 40px; border-radius: 50%; overflow: hidden; margin-top: 10px; display: flex; justify-content: left; align-items: left; position: relative;">
      <img [src]="imagenURL" alt="Imagen" *ngIf="imagenURL !== ''" id="usuario" style="width: 40px; height: 80px; object-fit: contain; position: absolute; top: -25px; left: 50%; transform: translateX(-50%);">
  </div>
  </mat-toolbar>
  
  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <ng-container *ngFor="let Nav of fillerNav; let i = index;">
          <ng-container *ngIf="Nav.children; else itemTemplate">
            <mat-expansion-panel [expanded]="submenuAbierto === i" hideToggle class="mat-elevation-z0">
              <mat-expansion-panel-header (click)="abrirSubmenu(i)">
                <mat-panel-title style=" font: 1em sans-serif;">
                  <mat-icon>{{ Nav.icon }}</mat-icon>
                  {{ Nav.name }} 
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-nav-list>
                <a style=" font: 1em sans-serif;" mat-list-item [routerLink]="subNav.route" *ngFor="let subNav of Nav.children" class="opciones">
                  <mat-icon>{{ subNav.icon }}</mat-icon>
                  {{ subNav.name }}
                </a>
              </mat-nav-list>
            </mat-expansion-panel>
          </ng-container>
          <ng-template #itemTemplate>
            <a style=" font: 4em sans-serif;" mat-list-item [routerLink]="Nav.route" class="opciones">
              <mat-icon>{{ Nav.icon }}</mat-icon>
              {{ Nav.name }}
            </a>
          </ng-template>
        </ng-container> 
        <div class="configuracion">
          <a mat-list-item (click)="exit()">
            <mat-icon>exit_to_app</mat-icon>
            Salir
          </a>
        </div>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
</div>
<div *ngIf="!shouldRun">Please open on Stackblitz to see result</div>


