body{
  background-color: #ccdfc3; 
}
.example-container {
  display: flex;
 
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

} 

.configuracion{
  margin-top: 40px;
/*  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.20); */
background-color: rgb(181, 207, 174);
font: 1em sans-serif;
}

img{
  color: aliceblue;
}
.mat-toolbar{
  /*  background-color: #768650;  */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
   background-color: #575d43; 
   z-index:2;
  }



.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}



a{
  margin-left: auto;
  margin-right: 2%;

}

a h2.example-app-name {
 /* margin-left: auto; */
  color:aliceblue;
  margin-top: 0px;
  margin-bottom: 0px;

}

a h6{
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
  color:aliceblue;
  line-height: 2%;
}


#usuario{
  padding-top: 10px;
  margin-right: 2%;
  margin-bottom: 5px;
  
}



.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. 
      flex: 1;
     */ 
     flex: 1;
 /* background-color: #edfbe6; */
/* background: linear-gradient(rgb(201, 231, 201),rgb(241, 241, 241), rgb(255, 255, 255)); */


  
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts.
      flex: 1 0 auto; 
     */
 
     flex: 1 0 auto;

}


mat-sidenav{

  width: 18%;
  background: linear-gradient(rgb(187, 209, 181),rgb(181, 207, 174), rgb(255, 255, 255));
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
}

.opciones{
  color: rgb(0, 0, 0);
  font-size:small;
}

#logo{
  height: 70px;
  width: 150px; 
}

mat-expansion-panel{
  background-color: #c9ecb6; 
  border-style: none;
  box-shadow: none;
  margin-top: 10px;

}

mat-expansion-panel-header{
  background-color: rgb(181, 207, 174); 
  border-style: none;
  box-shadow: none;
  box-shadow: #b2d4a1;

}
 
mat-icon{
  margin-right: 20px;
}

mat-list-item{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  font-size:10px;
}

mat-panel-title, mat-nav-list, a, mat-expansion-panel-header, mat-sidenav-container{
  font: 1em sans-serif;
}







