<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

<body> 

    <div>
        <h2 class="titulo">Acuerdos</h2>
        <p id="descripcion">promueven la comunicación efectiva, establecen normas compartidas, promueven la
            responsabilidad y cultivan un
            sentido de pertenencia. </p>

    </div>
    <hr>
 

    <div class="contenedor1">
        <div id="buscar">


            <input type="text" name="filtrar" placeholder="buscar" [(ngModel)]="filtroAcuerdos">
            <input type="date" name="filtrarFecha" [(ngModel)]="filtroFecha" id="buscar1">

        </div>

        <div class="contenedor2">

            <table class="table" width="100%">
                <thead>
                    <tr>

                        <th scope="col" width="300px" style=" font: 1em sans-serif;">Asunto</th>
                        <th scope="col">Detalles</th>
                        <th scope="col">Fecha</th>
                        <th scope="col" style="text-align:center;width:200px;">
                            Acciones
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr tr mat-row matRowDef="columns: displayedcolumns;"
                        *ngFor="let acuerdo of acuerdos1 | filtroAcuerdos: 'asunto': filtroAcuerdos | filtroFecha: 'fecha': filtroFecha">
                        <td>{{ acuerdo.asunto }}</td>
                        <td>{{ acuerdo.detalles }}</td>
                        <td>{{ acuerdo.fecha }}</td>
                        <td id="td-view">

                            <button type="button" id="view-button">
                                <mat-icon style="font-size:medium;">visibility</mat-icon>
                            </button>

                        </td>
                    </tr>
                </tbody>
            </table>


        </div>
 

        <!-- 
        <div class="pages">

            <p>Filas por página</p> <input type="number" id="pageNumber" class="page">

            <button class="boton-verde" (click)="paginador_atras()">&lt;</button>
            <p style="padding-top: 20px; "> {{cont}} - 5 </p>
            <button class="boton-verde" (click)="paginador_adelante()">&gt;</button>

        </div>
-->



    </div>

    <!------------------------------   MODAL   ---------------------------------------------->



</body>






<!--
<div class="container">
    <h2 class="titulo">Lista de Acuerdos</h2>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>ID Fraccionamiento</th>
                <th>Asunto</th> 
                <th>Detalles</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let acuerdo of acuerdos">
                <td>{{ acuerdo.id_acuerdo }}</td>
                <td>{{ acuerdo.id_fraccionamiento}}</td>
                <td>{{ acuerdo.asunto }}</td>
                <td>{{ acuerdo.detalles }}</td>
                <td>{{ acuerdo.fecha }}</td>
            </tr>
        </tbody>
    </table>
</div>
 -->