
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

<body>

    <div>
        <h2 class="titulo">Egresos</h2>
        <p id="descripcion">Gestiona tus movimientos financieros y manten a flote tu comunidad. </p>
    </div>

    <hr>


    <div class="contenedor1">
        <div id="buscar">

            <input type="text" name="filtrar" placeholder="buscar">


            <label for="modal" class="boton">Agregar</label>



        </div>

        <div class="contenedor2">

            <table class="table" width="100%">
                <thead>
                    <tr>
                      <th scope="col">ID Egreso</th>
                      <th scope="col">Concepto</th>
                      <th scope="col">Descripción</th>
                      <th scope="col">Proveedor</th>
                      <th scope="col">Monto</th>
                      <th scope="col">Fecha</th>
                      <th scope="col">Editar</th>
                      <th scope="col">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let egreso of egresos">
                    <td>{{ egreso.id_egreso }}</td>
                    <td>{{ egreso.concepto }}</td>
                    <td>{{ egreso.descripcion }}</td>
                    <td>{{ egreso.proveedor }}</td>
                    <td>{{ egreso.monto }}</td>
                    <td>{{ egreso.fecha }}</td>
                    <td>
                      <button (click)="seleccionarEgreso(egreso)" class="botones-tabla">seleccionar</button>
                    </td>
                    <td>
                      <button (click)="eliminarEgreso(egreso.id_egreso)" class="botones-tabla">Eliminar</button>
                    </td>
                  </tr>
                </tbody>
            </table>


        </div>

        <div class="pages">

            <p>Filas por página</p> <input type="number" id="pageNumber" class="page">

            <button class="boton-verde" (click)="paginador_atras()">&lt;</button>
            <p style="padding-top: 20px; "> {{cont}} - 5 </p>
            <button class="boton-verde" (click)="paginador_adelante()">&gt;</button>

        </div>



        <!-------                              MODAL                          -->


        <input type="checkbox" id="modal">

        <label for="modal" class="modal-background"></label>
''
            <div class="modal">
                <div class="modal-header">
                    <h3>Agregar notificación</h3>

                    <label for="modal">
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAdVBMVEUAAABNTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU0N3NIOAAAAJnRSTlMAAQIDBAUGBwgRFRYZGiEjQ3l7hYaqtLm8vsDFx87a4uvv8fP1+bbY9ZEAAAB8SURBVBhXXY5LFoJAAMOCIP4VBRXEv5j7H9HFDOizu2TRFljedgCQHeocWHVaAWStXnKyl2oVWI+kd1XLvFV1D7Ng3qrWKYMZ+MdEhk3gbhw59KvlH0eTnf2mgiRwvQ7NW6aqNmncukKhnvo/zzlQ2PR/HgsAJkncH6XwAcr0FUY5BVeFAAAAAElFTkSuQmCC"
                            width="16" height="16" alt="">
                    </label>



                </div>


                <div class="form">

                    <!-- Formulario para agregar un nuevo acuerdo -->

                    <form id="formCrear" class="Formulario" #egresoForm="ngForm" (ngSubmit)="agregarEgreso()">
                      <label for="fraccionamiento">Fraccionamiento:</label>
                      <input type="text" id="fraccionamiento" name="fraccionamiento" [(ngModel)]="id_fraccionamiento" required disabled>

                      <select id="proveedor" name="proveedor" [(ngModel)]="egresoModel.proveedor" required ngModel>
                        <option value="" disabled selected>-- Seleccione un proveedor --</option>

                        <option *ngFor="let proveedor of proveedores" [value]="proveedor.nombre">{{proveedor.id_proveedor}}-{{ proveedor.nombre }}</option>
                      </select>

                      <input type="number" id="monto" name="monto" [(ngModel)]="egresoModel.monto" required placeholder="monto">

                      <input type="text" id="concepto" name="concepto" [(ngModel)]="egresoModel.concepto" required placeholder="concepto">

                      <input type="text" class="textb" id="fechaEgreso" name="fechaEgreso"
                      required ngModel [(ngModel)]="egresoModel.fecha"
                      placeholder="fecha de egreso" onfocus="(this.type='date')" />



                      <textarea id="descripcion" name="descripcion" [(ngModel)]="egresoModel.descripcion" required placeholder="descripción"></textarea>

                      <div class="botones-container">
                        <button type="submit" class="boton-verde">Agregar</button>
                        <button (click)="actualizarEgreso()" type="button" class="boton-verde">Actualizar</button>
                      </div>
                    </form>

                </div>



            </div>










        <!---                               FINAL MODAL                                  -->

    </div>


</body>








