<body> 

  <div>
    <h2 class="titulo">Agregar usuarios</h2>
    <p id="descripcion">Al tener un sistema de usuarios, puedes controlar quién tiene acceso a tu comunidad en línea. Esto te permite proteger la privacidad y seguridad de los miembros y de la información compartida dentro de la comunidad. </p>
</div>

<hr>

 
  <div class="contenedor2">
   
    <div class="form">

      <form id="formCrear" class="Formulario" #form="ngForm" [formGroup]="UserGroup">

        <p>
          <label for="nombre">Nombre: </label>
          <input type="text" class="textb" formControlName="nombre" name="nombre" [(ngModel)]="usuario.nombre">     
        </p>
 
        <p>
          <label for="direccion">Apellido paterno: </label>
          <input type="text" class="textb" id="apellidoP" formControlName="apellido_pat" name="apellido_pat" [(ngModel)]="usuario.apellido_pat">

        </p>

        <p>
          <label for="coordenadas">Apellido materno: </label>
          <input type="text" class="textb" id="apellidoM" formControlName="apellido_mat" name="apellido_mat" [(ngModel)]="usuario.apellido_mat">
        </p>
       
  <!--
      <p>
        <label for="lote">Tesorero: </label>
        <select id="tipo_usuario" name="tipo_usuario" formControlName="tipo_usuario" [(ngModel)]="usuario.tipo_usuario" required ngModel>
          <option value="tesorero">Sí</option>
          <option value="usuario">No</option>
        </select>
      </p>
    
        <div class="botones-container">
          <button class="boton-verde" (click)="agregar_usuario(form.value)">Agregar</button>
        </div>
      -->
        <p>
          <label for="idTesorero">Teléfono: </label>
          <input type="text" class="textb" id="telefono" formControlName="telefono" name="telefono" [(ngModel)]="usuario.telefono">
        </p>
        <p>
          <label for="fechaNacimiento">Fecha de Nacimiento: </label>
          <input type="date" class="textb" id="fechaNacimiento" name="fecha_nacimiento" formControlName="fecha_nacimiento" [(ngModel)]="usuario.fecha_nacimiento" required ngModel>
        </p>
        <p>
          <label for="correo">Correo: </label>
          <input type="email" class="textb" id="correo" name="correo" formControlName="correo" [(ngModel)]="usuario.correo" required ngModel>
        </p>
        <p>
          <label for="contrasena">Contraseña: </label>
          <input type="password" class="textb" id="Contrasenia" name="contrasenia" formControlName="contrasenia" [(ngModel)]="usuario.contrasenia" required ngModel>
      </p>
      <p>
        <label for="confirmarContrasena">Confirmar Contraseña: </label>
        <input type="password" class="textb" id="confirmarContrasena" name="confirmarContrasena" formControlName="confirmarContrasena" [(ngModel)]="usuario.confirmarContrasena" required ngModel>
      </p>
      <!--
        <div class="botones-container">
          <button class="boton-azul" (click)="actualizar_usuario(form.value)">Actualizar
           </button>
        </div>
       -->
       <div class="botones">
        <div class="botones-container">
          <button class="boton-azul" (click)="actualizar_usuario(form.value)">Actualizar
           </button>
        </div>
        <div class="botones-container">
          <button class="boton-verde" (click)="agregar_usuario(form.value)">Agregar</button>
        </div>
       </div>



      </form>
    </div>
  </div>


<!--
  <div class="contenedor2">


    
  <table class="table" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" width="200px">Nombre</th>
        <th scope="col" width="200px">Apellido paterno</th>
        <th scope="col" width="200px">Apellido materno</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Fecha de nacimiento</th>
        <th scope="col">Tipo de usuario</th>
        <th scope="col" width="400px">Correo</th>
        <th scope="col">Contraseña</th>
        <th style="text-align:center;width:500px;">
          Editar usuario
        </th>
        <th style="text-align:center;width:500px;">
          Borrar usuario
        </th>
      </tr>
    </thead> 
    <tbody>
      <tr mat-row matRowDef="columns: displayedcolumns;" *ngFor="let usuario of usuarios" (click)="onRowClicked(usuario)">
        <th scope="row">{{usuario.id_persona}}</th>
        <td>{{usuario.nombre}}</td>
        <td>{{usuario.apellido_pat}}</td>
        <td>{{usuario.apellido_mat}}</td>
        <td>{{usuario.telefono}}</td>
        <td>{{usuario.fecha_nacimiento}}</td>
        <td>{{usuario.tipo_usuario}}</td>
     
        <td>{{usuario.correo}}</td>
        <td>{{usuario.contrasenia}}</td>
        <td><a class="btn btn-sm text-white btn-success" style="margin-right: auto;">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true" (click)="edit(usuario)"></span>
          </a>
          </td>
          <td>
          <a class="btn btn-sm text-white btn-danger" style="margin-left: auto;">
            <span class="glyphicon glyphicon-remove" aria-hidden="true" (click)="delete(usuario)"></span>
          </a>
        </td>
      </tr>

    </tbody>
  </table>

  </div>
-->



</body>

