.container {
  width: 40%;
  margin: 0 auto;
  background: rgb(255, 255, 255); /* Fondo blanco sólido */
  border-radius: 10px;
  padding: 20px;
  color: black; /* Cambié el color del texto a negro para mejor legibilidad */
  margin-top: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12); /* Sombra suave */
}


.titulo {
    text-align: center;
    color: black;
}


.generar-container {
    text-align: center;
    margin-bottom: 20px;
}

.green-button {
    background-color: #3D3D3D;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.download-button {
    background-color: #3D3D3D;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}


.qr-container {
    text-align: center;
}

.advertencia {
    color: #ff3333;
    font-style: italic;
    margin-top: 10px;
    font-size: 30;
}

img{
    margin:auto;
    color: black;
}

.overlay {
  position: absolute; /* Permite superponer el div sobre el contenedor */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  display: flex; /* Para centrar el texto */
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
  color: white; /* Color del texto */
  font-size: 1.5em; /* Tamaño del texto */
  border-radius: 10px; /* Opcional: Para que coincida con el contenedor */
}

