
body {


  background-color: #f2f3f4;
  margin: 0%;
  background-position: center center;


}

.contenedor1 {
  display: flexbox;
  margin: 0%;

}

#paypal{
/*background-image: url("./pay.png");*/
}

#spei{
/*background-image: url("./spei.png");*/
}

#paypal-button{
background-color: #ffc43c;
border-radius: 10px;
width: 270px;
border: 0px;
}


.overlay {
  position: absolute; /* Permite superponer el div sobre el contenedor */

  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  display: flex; /* Para centrar el texto */
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
  color: white; /* Color del texto */
  font-size: 1em; /* Tamaño del texto */
  border-radius: 10px; /* Opcional: Para que coincida con el contenedor */

  top: 170px;
  height: 640px;
  width: 450px;
  margin-left: 57%;

  padding-top: 80px;
  padding-left: 15px;
  z-index: 10;
}


#header{
  height: 100px;
  border: 0;
  padding-top: 20px;
  padding-left: 50px;


 }

.form-group > #asunto{
  border:none;
  border-bottom:1px solid #757575;
  border-radius: 0%;
  width: 270px !important;


}

textarea{
  margin:auto !important;
  width: 100%;
  text-align: center;
  resize: none;

}


.asunto{
  padding-left: 20px;
}


#buscar1, #buscar2 {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 350px;
  height: 40px;
  outline: 0;
  padding-left: 20px;
  margin-left: 50px;

}

.contenedor2 {
  height: 450px;
  width: 53%;
  background-color: #ffffff;

  overflow: hidden;
  margin-left: 5%;
  padding-top: 20px;
  padding-left: 20px;
  margin-top: 230px;

  display: flexbox;

  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contenedor3{
  background-color: #ffffff;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 640px;
  width: 450px;
  margin-left: 57%;

  padding-top: 20px;
  padding-left: 15px;

  display: block;
  position: absolute;
  top: 170px;

}


.boton {
  background-color: #242434;
  outline: none;
  color: #ffffff;
  font-size: 14px;
  height: 40px;
  font-weight: normal;
  width: 100px;
  text-align: center;

  text-transform: uppercase;
  border-color: #242434;
  border-radius: 5px;
  border: none;

  padding-left: 10px;
  padding-right: 10px;

  padding-top: 10px;



}

mat-icon:hover {
  color: #6c5bb8; /* Cambia 'blue' al color que desees */
  cursor: pointer; /* Opcional: Cambia el cursor al cursor de puntero */
}

.boton:hover {
  color: #ffffff;
  background-color: #6c5bb8;
  border-color: #6c5bb8;
}

#view-button{
  background-color: #ffffff;
  border: #ffffff;
}




#labelToCopy{
  font-size: 17px;
}


.notification {
 background-color: #a7a4a4;

 width: 100px;
 padding-left: 6px;


}

.notification.ng-enter, .notification.ng-leave {
  opacity: 0;
}
.notification.ng-enter-active, .notification.ng-leave-active {
  opacity: 1;
}


#buscar {
  position: absolute;
  top: 170px;
  margin-left: 5%;
  display: grid;
  display: flex;


  padding-top: 20px;
  padding-left: 20px;

  background-color: #ffffff;

  width: 50%;
  height: 17%;

  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


#columna2{
  margin-left: 4%;
}

#columna1{
  width: 30%;
}

.titulo {
  text-align: justify !important;
  padding-top: 20px;
  margin-left: 50px;
  color: rgb(97, 94, 94) !important;

}

#descripcion {
  text-align: justify !important;
  margin-left: 50px;
  margin-right: 70px;
  color: rgb(97, 94, 94) !important;
}

hr {
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #a7a4a4 inset;
  width: 30%;
  margin-left: 0px;
}




.boton-verde,
.boton-amarillo,
.boton-rojo,
.boton-azul {
  padding: 10px;
  margin: 10px 5px;
  border: none;
  border-radius: 5px;
  height: 10px;
  cursor: pointer;



}





table {
  background-color: #ffffff;
  position: absolute;
  top: 300px;
  width: 90%;
  font: 1em sans-serif;
  margin: auto;

  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pages {
  display: flex;
   justify-content: center;
   position: absolute;
   top: 80%;

   left: 40%;
 }

 mat-paginator{
  background-color: transparent;
 }


#td-view{
  text-align: center;
}

td{
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis; /* Muestra puntos suspensivos (...) cuando el texto se desborda */
  white-space: nowrap; /* Evita que el texto se ajuste a múltiples líneas */

}



/*    MODAL   */







input[type="checkbox"]:checked ~ .modal,
input[type="checkbox"]:checked ~ .modal-background {
    display: block;
}


.modal-background {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 9998;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: none;
    width: 400px;
    height: 400px;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 9999;
}
.modal > p {
    padding: 15px;
    margin: 0;
}
.modal-header {
    background-color: #f9f9f9;

    box-sizing: border-box;
    height: 55px;
}
.modal-header h3 {
    margin: 0;
    box-sizing: border-box;
    padding-left: 15px;
    line-height: 50px;
    color: #4d4d4d;
    font-size: 16px;
    display: inline-block;
    padding-bottom: 20px;
}
.modal-header label {
    box-sizing: border-box;

    float: right;
    line-height: 50px;
    padding: 0 15px 0 15px;
    cursor: pointer;
}
.modal-header label:hover img {
    opacity: 0.6;
}

#modal{
  display: none;
}


.form {


  width: 500px;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  align-items: center;
  margin: auto;


}

.form-group > #asunto, .form-group > #mensaje{
  margin-left: auto;
  width: 100%;
}

.Formulario {
  position: absolute;
  left: 70px;
}

/*
ng-template{
  background-image: url("./no-en1.jpg");



}
  */

.div-noen {




  display: flex;
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */

}

.noencontrado{


left: 10%;

}













@media screen and (max-width: 910px) {

  body{
    height: 1400px;
  }
  .contenedor2 {
    height: 1200px;

  }

  #buscar1{
    display: none;
  }

}


@media screen and (max-width: 1300px) {

  body{
    height: 1400px;
  }
  .contenedor2 {
    height: 1200px;

  }
  .boton{
    display: none;
  }



}





@media screen and (max-width: 700px) {

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
    width: 50px;
  }
  tr {
    border: 1px solid #ccc;
  }
  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: left;

    width: 100%;


        /* Ajusta el ancho de la celda para que ocupe el 100% del ancho de la pantalla */

        /* Elimina el padding izquierdo para que el contenido comience desde el borde izquierdo */
        padding-left: 0;
  }
  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    content: attr(data-label);
    font-weight: bold;

        /* Ajusta la posición izquierda del pseudo-elemento para que esté alineado correctamente */
        left: 0;
        /* Ajusta el ancho del pseudo-elemento para que ocupe el 100% del ancho de la celda */
        width: 100%;
  }
  body{
    height: 800px;
  }



#buscar {

  display: flex;
  flex-direction: column;

}

#buscar1, .boton{
  display: none;
}

input{
  margin-left: 20%;
}

#buscar{
  height: 70px;
}

thead{
  width: 50px;
}

.asunto{
  width: 30%;
}
}

















.container {
width: 40%;
margin: 0 auto;
background: linear-gradient(rgb(201, 231, 201),rgb(241, 241, 241), rgb(255, 255, 255));
border-radius: 10px;
padding: 20px;
color: white;
margin-top: 50px;
}

.titulo {
text-align: center;
color: black;
}


.generar-container {
text-align: center;
margin-bottom: 20px;
}

.green-button {
background-color: #619d51;
color: white;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 16px;
margin-top: 25%;
}

.download-button {
background-color: #619d51;
color: white;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 16px;
}


.qr-container {
text-align: center;
}

.advertencia {
color: #ff3333;
font-style: italic;
margin-top: 10px;
font-size: 30;
}

img{
margin:auto;
color: black;
}
