
<head>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script src="https://www.paypalobjects.com/api/button.js?" data-merchant="braintree" data-id="paypal-button"
        data-button="checkout" data-color="gold" data-size="medium" data-shape="pill" data-button_type="submit"
        data-button_disabled="false"></script>
    <script type="module"
        src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.16.0/cdn/components/copy-button/copy-button.js"></script>
    <!-- En el archivo src/index.html -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>


<body>

    <div id="header">
        <h2 class="titulo">¡Hola de nuevo, {{nombre}}!</h2>
        <p id="descripcion">Te mostramos información que te puede ser util </p>

    </div>

    <hr>

    <div class="carousel">
      <div class="carousel-images">
        <img src="assets/fondo.jpg" alt="Imagen 1">
        <img src="assets/janover.png" alt="Imagen 2">
        <img src="assets/hanover2.png" alt="Imagen 3">
      </div>
    </div>


    <div class="contenedor2">

      <table class="table" width="70%">
          <thead>
              <tr>
                  <th scope="col" width="200px" style="font: 1em sans-serif;">Asunto</th>
                  <th scope="col">Detalles</th>
                  <th scope="col" style="text-align:center;width:200px;">Fecha</th>
              </tr>
          </thead>
          <tbody>
            <tr mat-row matRowDef="columns: displayedcolumns;"
            *ngFor="let notificacion of notificaciones1">
            <td style="font: 1em sans-serif; font-size: 8;">{{ notificacion.asunto }}</td>
            <td style="font-size: 8;">{{ notificacion.mensaje }}</td>
            <td id="td-view" style="text-align:center;">
                {{ notificacion.fecha }}
            </td>
        </tr>

          </tbody>
      </table>
  </div>

  <div class="container">
    <h2 class="titulo" style="margin-left: 210px;">Generar Invitación</h2>



    <div class="qr-container">
      <p class="advertencia">Comparte solamente con la persona que necesita acceso. No compartas este código con desconocidos.</p>
        <img [src]="qrCodeDataUrl" alt="Presiona el Botón de Arriba para generar el código" #codigoQR>
        <div class="generar-container">
          <button class="green-button" (click)="generarToken()">Generar</button>
      </div>


        <!-- <button class="download-button" (click)="descargarCodigoQR()">Descargar</button> -->
    </div>

    <!-- Overlay de bloqueo -->
    <!-- <div class="overlay" *ngIf="isBlocked">
        <p class="bloqueado-mensaje">Esta sección se encuentra temporalmente bloqueada por el administrador de la comunidad, comunicate con él para más información</p>
    </div> -->
</div>





  <!-- <div class="custom-contenedor-deudas">
    <h2 style="text-align: center;">Deudas</h2>
    <table class="custom-table" width="100%">
        <thead>
            <tr>
                <th>Nombre de Deuda</th>
                <th>Monto</th>
                <th>Próxima fecha de pago</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let deudor of getDeudasOrdenadas(); let i = index">
                <td>{{ deudor.nombre_deuda }}</td>
                <td>${{ deudor.monto }} MXN</td>
                <td>{{ calcularProximoPago(deudor.proximo_pago, deudor.periodicidad) }}</td>
            </tr>
        </tbody>
    </table>
</div> -->





</body>

