body {
  background-color: #f2f3f4;
  margin: 0;
  background-position: center center;
}

#header {
  height: 100px;
  border: 0;
  padding-top: 20px;
  padding-left: 50px;
}

.titulo {
  text-align: justify !important;
  padding-top: 20px;
  margin-left: 50px;
  color: rgb(97, 94, 94) !important;
}
hr {
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #a7a4a4 inset;
}


#descripcion {
  text-align: justify !important;
  margin-left: 50px;
  margin-right: 70px;
  color: rgb(97, 94, 94) !important;
}

textarea {
  margin: auto !important;
  width: 100%;
  text-align: center;
  resize: none;
}

#buscar1, #buscar2 {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 350px;
  height: 40px;
  outline: 0;
  padding-left: 20px;
  margin-left: 50px;
}

.contenedor2 {
  position: absolute;
  height: 300px;
  width: 53%;
  background-color: #ffffff;
  overflow: hidden;
  margin-left: 5%;
  padding-top: 20px;
  padding-left: 20px;
  margin-top: 240px;
  display: flex;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.boton {
  background-color: #242434;
  outline: none;
  color: #ffffff;
  font-size: 10px;
  height: 40px;
  font-weight: normal;
  width: 100px;
  text-align: center;
  text-transform: uppercase;
  border-color: #242434;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.boton:hover {
  color: #ffffff;
  background-color: #6c5bb8;
  border-color: #6c5bb8;
}

/* Notificaciones */
/* Estilo reducido para el div de notificaciones */
.notification {
  background-color: #a7a4a4;
  width: 60px; /* Reducido aún más */
  padding-left: 4px; /* Menos padding para ahorrar espacio */
  font-size: 8px; /* Reducido el tamaño de la fuente */
  line-height: 1.1;
  position: absolute; /* Posiciona el div de forma absoluta */
  top: 10px; /* Mover el div más arriba, ajusta según necesites */
  left: 50px; /* Asegura que esté en el lugar correcto en el eje horizontal */
}

.table-container {
  width: 100%;
  overflow-x: auto;
  background-color: #fff;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#buscar {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 50%;
  height: 17%;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 910px) {
  .contenedor2 {
    height: 1300px;
  }
  #buscar1 {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 0;
    white-space: normal;
    text-align: left;
  }
  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 100%;
    padding-right: 10px;
    white-space: nowrap;
    content: attr(data-label);
    font-weight: bold;
  }
  body {
    height: 800px;
  }
  #buscar {
    height: 70px;
  }
  #buscar1, .boton {
    display: none;
  }
}



.carousel {
  position: absolute;
  overflow: hidden;
  width: 100%;
  max-width: 500px;
  height: 100px;
  margin-left: 15%;
  margin-top: 100px;
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-images img {
  width: 100%;
  height: auto;
}


/* Contenedor para las deudas, con estilo similar a las notificaciones y contenedor2 */
.custom-contenedor-deudas {
  width: 35%; /* Ajustar el tamaño del contenedor */
  margin-left: 5%; /* Centrado */
  background-color: #ffffff; /* Fondo blanco */
  padding: 20px; /* Espaciado interno */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  border-radius: 0px; /* Bordes redondeados */
  margin-top: 10px; /* Espaciado superior */
}

.custom-table {
  width: 100%;
  border-collapse: collapse; /* Eliminar espacios entre celdas */
}

.custom-table th, .custom-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd; /* Borde de separación entre filas */
}

.custom-table th {
  background-color: white; /* Fondo gris claro para los encabezados */
  color: rgb(97, 94, 94); /* Color del texto */
  font-weight: bold;
}

.custom-table td {
  color: black; /* Color del texto en las celdas */
}

/* Estilo en hover para las filas */
.custom-table tr:hover {
  background-color: #f9f9f9; /* Color de fondo al pasar el ratón */
}







.container {
  width: 40%;
  margin: 0 auto;
  background: rgb(255, 255, 255); /* Fondo blanco sólido */
  border-radius: 0px;
  padding: 0px;
  color: black;
  margin-top: 80px;
  margin-left: 900px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12); /* Sombra suave */
}


.titulo {
    text-align: center;
    color: black;
    text-align: center;
    margin-left: 30px;
}


.generar-container {
    text-align: center;
    margin-bottom: 20px;
}

.green-button {
    background-color: #3D3D3D;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.download-button {
    background-color: #3D3D3D;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}


.qr-container {
    text-align: center;
}

.advertencia {
    color: #ff3333;
    font-style: italic;
    margin-top: 10px;
    font-size: 30;
}

img{
    margin:auto;
    color: black;
    height: 300px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5em;
  border-radius: 10px;
}




