.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

img{
  color: aliceblue;
}
.mat-toolbar{
/*  background-color: #768650;  */
 background-color: #575d43; 
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

a{
  margin-left: auto;
  margin-right: 1%;
}

a h2.example-app-name {
 /* margin-left: auto; */
  color:aliceblue;
  margin-top: 0px;
  margin-bottom: 0px;

}

a h6{
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
  color:aliceblue;
  line-height: 2%;
}


#usuario{
  padding-top: 10px;
  margin-right: 2%;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
  background-color: #edfbe6;
  
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

mat-sidenav{
  background-color: #b2d4a1; 
  color: white; 
}

.opciones{
  color: red;
}

#logo{
  height: 70px;
  width: 150px;
}
